.filterContainer {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.categorySelect {
  margin-top: 10px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 200px;
}

.selectName {
  color: #ccc;
}
